[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pip_conf_index_global"

[packages]
fastapi = "==0.133.1"
uvicorn = {extras = ["standard"], version = "*"}
langgraph = "==1.0.7"
langchain-google-genai = "==4.0.0"

[dev-packages]
pytest = "*"
pytest-asyncio = "*"

[requires]
python_version = "3.12"
